{% extends "base.html" %}

{% block extra_head %}
{% if config.extra.slim_netlify_identity %}
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endif %}
{% endblock extra_head %}

{% block content %}
{% if paginator %}
{{ macros::list_pages(pages=paginator.pages) }}
{% else %}
{{ macros::list_pages(pages=section.pages) }}
{% endif %}
{% endblock content %}

{% block extra_script %}
{% if config.extra.slim_netlify_identity %}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{% endif %}
{% endblock extra_script %}